.workflowInfo {
  input {
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-2) 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--radius-sm);
    line-height: 18px;
    &:not(:focus) {
      border-color: var(--color-border-primary) !important;
    }
  }
  .icon-delete {
    width: 18px;
    display: inline-block;
    cursor: pointer;
    transition: all 250ms ease-out;
    &:hover {
      transform: rotate(90deg);
    }
  }
}
