.Message {
  &-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px var(--space-5) 5px;
    position: relative;
    &:hover {
      background-color: var(--color-background-hover);
      .Message-toolbar-wrapper {
        display: block;
      }
    }
    &-continuous {
      padding: var(--space-1) var(--space-5) var(--space-1) 70px;
    }

    &.highlight {
      animation-name: msgShining;
      animation-timing-function: linear;
      animation-duration: 0.3s;
      animation-direction: alternate;
      animation-iteration-count: 4;
      animation-fill-mode: forwards;
    }

    @keyframes msgShining {
      from {
        color: var(--color-primary-text);
        background-color: var(--color-background-primary);
      }
      to {
        color: var(--color-white);
        background-color: var(--color-primary-solid);
      }
    }
  }

  &-from {
    flex: 0 50px;
    width: 50px;
    height: 36px;
    &-avatar {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
    &-name {
      color: var(--color-text-title);
      font-size: var(--font-md);
      font-weight: bolder;
      display: inline;
    }
  }

  &-body {
    flex: 1;
    padding-right: 30px;
  }

  &-title {
    margin-bottom: 2px;
    max-width: 400px;
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-md);
    color: var(--color-text-primary);
    line-height: 1.5;
  }

  &-timestamp {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    &-content {
      display: inline-block;
      font-size: var(--font-xs);
      color: var(--color-text-disabled);
      padding: 0 5px;
      line-height: 150%;
    }
  }

  &-unreadLine {
    margin: 25px 0 var(--space-5);
    &::before {
      content: '';
      display: block;
      border-bottom: 1px solid var(--color-border-secondary);
      width: 100%;
      margin-bottom: -10px;
    }
    &Txt {
      margin: 0 auto;
      display: block;
      width: 96px;
      background: var(--color-background-card);
      color: var(--color-text-disabled);
      text-align: center;
    }
  }
}
