.verifyDelDialog {
  .mui-dialog-body {
    padding-bottom: var(--space-5) !important;
  }
  .mui-dialog-header {
    padding: 0 var(--space-6) var(--space-6) var(--space-6) !important;
  }
  .title {
    font-size: 17px;
    color: var(--color-error);
    font-weight: bold;
  }
  .hint {
    margin: var(--space-4) 0 var(--space-6) 0;
    font-size: var(--font-md);
    color: var(--color-text-secondary);
  }
  .verifyCheckbox {
    color: var(--color-text-secondary);
    font-size: var(--font-md);
    .Checkbox-box {
      margin-top: -2px !important;
    }
  }
  .btnBox {
    margin-top: var(--space-8);
    display: flex;
    justify-content: flex-end;
    button {
      width: 90px;
      line-height: 36px;
      padding: 0;
      text-align: center;
      background-color: var(--color-background-primary);
      border-radius: var(--radius-sm);
      border: none;
      outline: none;
      cursor: pointer;
    }
    .btnCancel {
      background-color: transparent;
      &:hover {
        color: var(--color-primary-text);
      }
    }
    .btnOk {
      color: var(--color-white);
      background-color: var(--color-text-disabled);
    }
    .btnDel {
      background-color: var(--color-error);
      &:hover {
        background-color: var(--color-error-hover);
      }
    }
  }
  .inputVerify {
    p {
      color: var(--color-text-secondary);
      margin: 0 0 var(--space-2) 0;
    }
    input {
      width: 100%;
    }
  }
}
