.workHandoverDialog {
  .mui-dialog-body {
    padding: 0 !important;
    overflow: hidden !important;
  }
  .tabBox {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-secondary);
    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: var(--font-sm);
      font-weight: 600;
      border-bottom: 2px solid transparent;
      margin-right: var(--space-1);
      cursor: pointer;
      padding: 10px;
      &:first-child {
        margin-left: var(--space-5);
      }
      &.active {
        color: var(--color-primary-text);
        border-bottom-color: var(--color-primary);
      }
    }
  }
  .workHandoverRefresh {
    display: inline-flex;
    &:hover {
      color: var(--color-primary-text) !important;
    }
  }
  .tabBox .workHandoverRefresh {
    justify-content: flex-end;
  }
  .description {
    background: var(--color-primary-transparent);
    border-radius: var(--radius-sm);
    padding: var(--space-2) var(--space-4);
    margin: var(--space-4) var(--space-5) 10px;
  }
  .apps {
    width: 260px;
    border-right: 1px solid var(--color-border-secondary);
    padding: 10px var(--space-5);
    overflow: auto;
  }
  .handoverList {
    padding: 10px var(--space-5);
    overflow: auto;
    .checkItem {
      &:hover {
        background: var(--color-background-primary) !important;
      }
    }
  }
  .checkItem {
    height: 36px;
    border-radius: var(--radius-sm);
    padding-left: var(--space-3);
    &:hover {
      background: var(--color-background-hover);
    }
    &.activeApp {
      background: var(--color-primary-transparent);
    }
    .appIconWrap {
      width: 20px;
      height: 20px;
      border-radius: var(--radius-sm);
      text-align: center;
    }
    &.checkAll {
      &:hover {
        background: var(--color-background-primary);
      }
    }
  }
  .role {
    height: 36px;
  }
  .footer {
    height: 60px;
    text-align: right;
    padding: var(--space-3) var(--space-6);
    box-shadow: 0px -2px 6px 1px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 6px 6px;
    .removeAppMember {
      height: 36px;
      line-height: 36px;
      border-radius: var(--radius-sm);
      color: var(--color-primary-text);
      border: 1px solid var(--color-primary);
      padding: 0 var(--space-8);
      background-color: var(--color-background-primary);
      &:hover {
        color: var(--color-primary-dark);
        border: 1px solid var(--color-primary-dark);
        background-color: var(--color-background-primary);
      }
    }
  }
  .flex2 {
    flex: 2;
  }
}
