.cancelUserExtendInfo {
  .ming.Button--primary {
    background: var(--color-error);
  }
  .ant-modal-body {
    font-size: var(--font-lg);
    color: var(--color-error-text);
    .modalText {
      margin-bottom: 0;
    }
  }
}
