.applyCon {
  .toBeBtn {
    font-size: var(--font-sm);
    padding: 3px 13px;
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: 24px;
    background-color: var(--color-primary-solid);
  }
  .rejectBtn {
    color: var(--color-error-text);
    border-color: var(--color-error);
    background-color: var(--color-background-primary);
  }
  .applyInfo {
    white-space: pre-wrap;
    word-break: break-word;
  }
  .listApplyCon {
    padding: var(--space-5) 10px;
    .splitLine {
      margin: var(--space-5) 0;
      border-top: 1px solid var(--color-border-secondary);
    }
    .splitLine:last-child {
      display: none;
    }
  }
}
