.Message-refer-container {
  max-width: 370px;
  border-radius: var(--radius-sm);
  background: var(--color-background-secondary);
  padding: var(--space-2);
  margin-bottom: 5px;
  cursor: pointer;

  .content {
    color: var(--color-text-tertiary);
    font-size: var(--font-md);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text {
    display: inline;
    i {
      vertical-align: 1px;
    }
  }
  .colorPrimary:not(:hover) {
    color: var(--color-text-tertiary) !important;
  }
}
