.sectionStyleDrop {
  .dropdownContent {
    .item:not(disabled):hover {
      background-color: var(--color-background-secondary) !important;
      color: none !important;
    }
    .item {
      padding: 0px var(--space-2);
    }
  }
}
