.roleListAction {
  .addRoleBtn {
    padding: 0 var(--space-5) !important;
  }
  .applyRecordCount {
    color: var(--color-error);
    padding: 1px var(--space-2);
    border-radius: 20px;
    background-color: var(--color-error-bg);
    margin-left: var(--space-2);
  }
  .ming.Checkbox {
    display: flex !important;
    align-items: center;
  }
}

.orgManagementWrap {
  .explainCon {
    margin: var(--space-3) var(--space-8) 0 var(--space-8);
    background: var(--color-primary-transparent);
    border-radius: var(--radius-sm);
    padding: 10px var(--space-3);
  }
}

.orgManagementContent.roleAuth {
  padding-top: var(--space-4) !important;
}
