.ant-select-dropdown {
  .optionItem {
    height: 36px;
    .dsTypeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      .svg-icon {
        width: 18px;
        height: 18px;
      }
    }
    .nameText {
      font-size: var(--font-md);
      color: var(--color-text-title);
      margin-left: 10px;
    }

    &:hover {
      .nameText {
        color: var(--color-primary);
      }
    }
  }
}

.connectorResultDialog {
  height: 450px !important;
  .mui-dialog-body {
    padding: 0 var(--space-6) 36px !important;
  }
}

.connectorErrorDialog {
  .errorInfo {
    background-color: var(--color-error-bg);
    border-radius: var(--radius-sm);
    padding: var(--space-2) var(--space-4);
  }
}
