.payAndInvoiceWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .configCon {
    flex: 1;
    padding: var(--space-8);
    overflow-y: auto;

    .configTitle {
      font-size: 17px;
      font-weight: bold;
    }
    .configDesc {
      color: var(--color-text-tertiary);
      margin-top: 10px;
    }
    .configContent {
      max-width: 1000px;
      margin-top: 28px;
      .enableScene {
        max-width: 1000px;
        display: flex;
        li {
          flex: 1;
          border-left: 1px solid var(--color-border-secondary);
          border-right: 1px solid var(--color-border-secondary);
          padding: var(--space-4);
          width: 100%;
          border-radius: var(--radius-sm);
          border: 1px solid var(--color-border-secondary);
          &:first-child {
            margin-right: 15px;
          }
          &:hover {
            border: 1px solid var(--color-border-tertiary);
          }
        }
      }
      .title {
        margin: 35px 0 var(--space-5);
        font-size: var(--font-lg);
        font-weight: 600;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--color-border-secondary);
      }
      .subTitle {
        font-weight: 600;
        font-size: var(--font-md);
        margin: var(--space-5) 0 10px;
        position: relative;
        &.required::before {
          content: '*';
          position: absolute;
          left: -10px;
          top: 3px;
          color: var(--color-error-text);
        }
      }
      .mapSettingBtn {
        height: 36px;
        line-height: 36px;
        text-align: center;
        border: 1px dashed var(--color-border-secondary);
        border-radius: var(--radius-sm);
        font-weight: 600;
        cursor: pointer;
      }
      .createLink {
        height: 36px;
        line-height: 36px;
        border-radius: var(--radius-sm);
        background: var(--color-background-secondary);
        border: 1px solid var(--color-border-secondary);
        color: var(--color-primary-text);
        padding-left: var(--space-3);
        cursor: pointer;
        &:hover {
          color: var(--color-link-hover);
        }
      }
      .emptyDropdown {
        .Dropdown--input .value {
          color: var(--color-text-tertiary);
        }
      }
    }
  }

  .footer {
    background-color: var(--color-background-primary);
    padding: 10px var(--space-8) var(--space-5);
  }
}

.mapFieldMenuWrap {
  .itemText {
    margin-left: 10px;
  }
}
