.discussLogFile {
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-background-secondary);
  border-bottom-right-radius: var(--radius-sm);
  border-top-right-radius: var(--radius-sm);
  flex-direction: column;
  border-left: 1px solid var(--color-border-primary);
  box-sizing: border-box;
  .UploadFiles-ramSize {
    display: none;
  }
  .header {
    height: 55px;
    border-bottom: 1px solid var(--color-border-tertiary);
    padding-top: var(--space-6);
    box-sizing: border-box;
    padding-left: var(--space-5);
    & > span {
      display: inline-block;
      color: var(--color-text-tertiary);
      cursor: pointer;
      padding: 0 var(--space-2);
      line-height: 28px;
      .txt {
        padding: 0 5px;
        border-bottom: 3px solid transparent;
      }
    }
    .talk {
      padding-left: 0;
    }
    & > .isWorksheetDiscuss {
      padding: 0 !important;
      & > span {
        padding: 0 !important;
        font-size: var(--font-xl) !important;
      }
    }
  }
  .body {
    background: var(--color-background-secondary);
    flex-shrink: 0;
    min-height: 0;
    .talkBox {
      width: 100%;
      height: 100%;
      .workSheetCommentBox {
        width: 100%;
        height: 100%;
        flex-direction: column;
        .commentListBox {
          .commentList {
            margin: 0 !important;
            .mdEmotion {
              left: -13px !important;
              .arrow {
                left: 97px !important;
              }
            }
          }
        }
        .WorkSheetCommentList {
          padding: var(--space-3) var(--space-4) var(--space-4);
          .filterCon {
            height: 36px;
          }
          .commentFilterBtn {
            color: var(--color-text-title);
            display: flex;
            align-items: center;
            width: fit-content;
            cursor: pointer;
            .searchInput {
              width: 100%;
              height: 20px;
              border: none;
              font-size: var(--font-sm);
              background-color: transparent;
              padding: 0px var(--space-3) 0 var(--space-1) !important;
            }
          }
        }
        .commentEmpty {
          text-align: center;
          padding-top: 120px;
          padding-bottom: 10px;
        }
        .commentList {
          flex: 1;
          margin: 0 var(--space-6);
          .talkDiscussion {
            border-bottom: 0;
          }
        }
        .comment {
          position: relative;
          border-radius: 0 0 var(--radius-sm) 0;
          padding: 10px var(--space-5) 10px 51px;
          background: var(--color-background-secondary);
          .createHeadImg {
            position: absolute;
            left: 16px;
            top: 10px;
          }
          .commentBox {
            flex: 1;
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            background: var(--color-background-primary);
            border-color: var(--color-border-primary);
            position: relative;
            .mdEmotion {
              .arrow {
                left: 106px !important;
              }
            }
            .mentionsTriggerWrap,
            .mentionsAutocompleteList {
              width: 100% !important;
            }
          }
          .commentBox.autoHeight {
            background: var(--color-background-primary);
            .mentions-input-box {
              background: var(--color-background-primary);
            }
          }
        }
      }
    }
    .fileContentBox {
      width: 100%;
      height: 100%;
      .UploadFiles-wrapper {
        padding-left: var(--space-4);
        padding-right: 21px;
      }
      .noneContent {
        padding-left: 25px;
      }
      .fileContent > div.TxtRight {
        margin-top: 18px;
        margin-bottom: var(--space-6);
        .Button--primary {
          margin-right: var(--space-6);
        }
      }
      .fileContent > div.TxtRight {
        margin-top: 18px;
        margin-bottom: var(--space-6);
        .Button--primary {
          margin-right: var(--space-6);
        }
      }
    }
  }
  .icon_Hover_21 {
    height: 32px;
    overflow: hidden;
    padding: 6px 10px !important;
    background: var(--color-background-primary);
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    &:hover {
      box-shadow: var(--shadow-sm);
      .icon-cancel {
        display: inline-block;
      }
      .icon-arrow-down {
        display: none;
      }
    }
  }
}

.isPublicApp .discussLogFile {
  .commentBox {
    pointer-events: none;
  }
  .fileContent {
    display: none;
  }
}
