.qrHoverPanel {
  .ant-popover-content {
    padding: 0;
  }
  width: 160px !important;
  height: 180px !important;
  padding: 0px !important;
  background-color: var(--color-background-primary) !important;
  img {
    width: 136px;
    height: 136px;
    margin: var(--space-3) var(--space-3) 0;
  }
  p {
    font-size: var(--font-sm);
    margin: 5px 0 0 0;
    text-align: center;
  }
}
