.chunkPreviewContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .chunkPreviewHeader {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    margin: 0 -20px;
    font-size: var(--font-xl);
    font-weight: 700;
    color: var(--color-text-tertiary);
    .icon {
      font-size: 22px;
      cursor: pointer;
    }
    .separator {
      font-weight: initial;
    }
    .worksheetName {
      color: var(--color-text-primary);
    }
  }
  .chunkTabs {
    display: flex;
    gap: 30px;
    margin: 10px -20px 0;
    height: 40px;
    .chunkTab {
      padding: 10px 5px;
      font-size: 15px;
      font-weight: 700;
      color: var(--color-text-tertiary);
      cursor: pointer;
      border-bottom: 4px solid transparent;
      &:hover {
        color: var(--color-primary);
      }
      &.active {
        color: var(--color-primary);
        border-bottom: 4px solid var(--color-primary);
      }
    }
  }
  .tabsSeparator {
    height: 1px;
    background-color: var(--color-border-secondary);
    margin: 0 -40px;
  }
  .chunkContent {
    flex: 1;
    min-height: 0;
    display: flex;
    margin: 0 -40px -20px;
    .sideBarBox {
      display: flex;
      flex-direction: column;
      padding: var(--space-4) var(--space-5);
      width: 305px;
      height: 100%;
      border-right: 1px solid var(--color-border-secondary);
      .sideBarHeader {
        margin-bottom: 10px;
        font-size: var(--font-sm);
        font-weight: 700;
        color: var(--color-text-primary);
        .recordCount {
          margin-left: 10px;
          color: var(--color-text-tertiary);
        }
      }
      .sideBarSearchBox {
        position: relative;
        margin-bottom: 10px;
        width: 100%;
        .searchIcon,
        .filterBox {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        .searchIcon {
          left: 10px;
          color: var(--color-text-tertiary);
          font-size: 22px;
        }
        .searchInput {
          display: flex;
          width: 100%;
          padding: 10px 90px 10px 40px;
          font-size: var(--font-md);
          border: none;
          border-bottom: 1px solid var(--color-border-secondary);
        }
        .filterBox {
          right: 10px;
          display: flex;
          align-items: center;
          padding: 2px;
          border-radius: var(--radius-sm);
          cursor: pointer;
          .triggerBox {
            display: flex;
            align-items: center;
          }
          .filterIcon {
            color: var(--color-text-tertiary);
            font-size: 22px;
            &:hover {
              color: var(--color-primary);
            }
          }
          &:hover {
            background-color: var(--color-background-tertiary);
          }
          &.hasFilter {
            background-color: var(--color-primary-transparent) !important;
            .filterIcon {
              color: var(--color-primary) !important;
            }
          }
          .attachmentTypesFilterCount {
            display: flex;
            align-items: center;
            margin-left: 6px;
            color: var(--color-text-primary);
            font-size: var(--font-sm);
            .clearFilterIcon {
              margin-left: 2px;
              font-size: var(--font-md);
              color: var(--color-text-secondary);
              cursor: pointer;
            }
          }
        }
      }
      .sideBarContentWrapper {
        flex: 1;
        min-height: 0;
        margin-right: -20px;
        .sideBarLoading {
          padding: var(--space-5) 0;
        }
        .sideBarContentBox {
          padding-right: var(--space-5);
          .sideBarContentItem {
            display: flex;
            align-items: center;
            padding: 0 10px;
            width: 100%;
            height: 46px;
            border-radius: var(--radius-sm);
            border: 1px solid transparent;
            font-size: var(--font-sm);
            color: var(--color-text-primary);
            cursor: pointer;
            &:hover {
              border-color: var(--color-border-secondary);
              background-color: var(--color-border-secondary);
            }
            &.active {
              border-color: var(--color-primary);
              background-color: var(--color-primary-transparent);
            }
            .title {
              flex: 1;
              min-width: 0;
            }
            .fileIcon {
              margin-right: var(--space-2);
              width: 18px !important;
              height: 20px !important;
            }
            .parseEnhancedIcon {
              margin-left: var(--space-1);
              font-size: var(--font-lg);
              color: var(--color-mingo);
            }
          }
        }
        .emptySideBarContent {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: var(--space-5);
          padding-bottom: 82px;
          height: 100%;
          font-size: var(--font-md);
          color: var(--color-text-secondary);
        }
      }
    }
    .mainContentBox {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: var(--space-5) 0 var(--space-5) var(--space-5);
      min-width: 0;
      height: 100%;
      .emptyContent {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: var(--space-5);
        width: 100%;
        height: 100%;
        font-size: var(--font-md);
        color: var(--color-text-secondary);
      }
      .mainContentHeader {
        margin-bottom: var(--space-5);
        .titleBox {
          display: flex;
          align-items: center;
          font-size: var(--font-lg);
          font-weight: 700;
          color: var(--color-text-primary);
          .launchIcon {
            padding: 2px;
            margin-left: var(--space-2);
            font-size: var(--font-lg);
            color: var(--color-text-secondary);
            cursor: pointer;
            border-radius: var(--radius-sm);
            &:hover {
              background-color: var(--color-background-tertiary);
              color: var(--color-primary);
            }
          }
        }
        .baseInfoBox {
          display: flex;
          gap: var(--space-5);
          margin-top: var(--space-2);
          font-size: var(--font-xs);
          color: var(--color-text-secondary);
          .attachmentParseEnhanced {
            display: flex;
            align-items: center;
            color: var(--color-text-primary);
            .icon {
              margin-right: var(--space-1);
              font-size: var(--font-lg);
              color: var(--color-mingo);
            }
          }
          .recordTitle {
            cursor: pointer;
            &:hover {
              color: var(--color-primary);
            }
          }
        }
      }
      .mainContentBodyWrapper {
        flex: 1;
        min-height: 0;
        .mainContentBodyBox {
          position: relative;
          padding-right: var(--space-5);
          height: 100%;
          .emptyPlaceholderText {
            position: absolute;
            top: calc(50% - 5px);
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: -5px;
            font-size: var(--font-md);
            color: var(--color-text-secondary);
          }
          .chunkDetailItem {
            position: relative;
            padding: 10px;
            border-radius: var(--radius-sm);
            .chunkDetailItemIndex,
            .chunkDetailItemEnhance {
              position: absolute;
              top: 10px;
              padding: 5px 10px;
              background-color: var(--color-background-card);
              border-radius: var(--radius-sm);
              box-shadow: var(--shadow-sm);
              font-size: var(--font-sm);
              visibility: hidden;
            }
            .chunkDetailItemIndex {
              left: 10px;
              font-weight: 700;
              color: var(--color-primary);
            }
            .recordEnhanceBox {
              margin-top: var(--space-5);
              .recordEnhance {
                display: flex;
                align-items: center;
                right: 10px;
                color: var(--color-text-primary);
                .icon {
                  margin-right: var(--space-1);
                  font-size: var(--font-lg);
                  color: var(--color-mingo);
                }
              }
            }
            .recordEnhanceContent {
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
            &.chunkHover {
              &:nth-child(even) {
                background-color: var(--color-background-secondary);
              }
              &:hover {
                background-color: var(--color-background-hover);
                .chunkDetailItemIndex,
                .chunkDetailItemEnhance {
                  visibility: visible;
                }
              }
            }
          }
        }
        .mainContentLoading {
          padding: var(--space-5) 0;
        }
      }
    }
  }
}

.attachmentTypesFilterPopup {
  padding: var(--space-1) 0;
  width: 150px;
  background-color: var(--color-background-card);
  box-shadow: var(--shadow-md);
  .attachmentTypesFilterItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 44px;
    font-size: var(--font-sm);
    color: var(--color-text-primary);
    &.active {
      background-color: var(--color-primary-transparent);
    }
    &:hover {
      background-color: var(--color-background-tertiary);
    }
    .icon {
      font-size: var(--font-lg);
      color: var(--color-primary);
    }
  }
}
