.boardDataRecordItemWrap {
  background-color: var(--color-background-primary);
  margin-bottom: var(--space-2);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-sm);
  overflow: hidden;
  &:hover {
    box-shadow: var(--shadow-md);
  }

  .skeletonBox {
    padding: 10px 14px;
  }
}
