.md-tooltip-overlay {
  .ant-tooltip-container {
    background-color: var(--color-background-inverse);
    border-radius: var(--radius-sm);
    padding: 9px 12px;
    min-height: 36px;
    border-radius: var(--radius-sm);
    font-size: 13px;
    font-weight: bold;
    overflow: 'auto';
  }
}
