.voteContent {
  margin-top: 15px;
  margin-left: var(--space-3);
}
.voteContent li {
  margin-top: 5px;
}
.voteContent .voteItemContainer {
  font-size: var(--font-md);
}
.voteContent .voteItemContainer label {
  word-wrap: break-word;
  color: var(--color-text-title);
  font-size: var(--font-md) !important;
  line-height: 28px !important;
  margin-left: 5px;
}
.voteContent input[type='checkbox'] + label:after,
.voteContent input[type='checkbox']:checked + label:after {
  margin-top: 3px;
  width: 16px !important;
  height: 16px !important;
}
.voteContent input[type='checkbox']:checked + label:before {
  top: 1px !important;
  width: 4px !important;
  height: 12px !important;
}
.voteContent .btn {
  height: 28px;
  line-height: 28px;
  color: var(--color-white);
  border: none;
  padding: 0 15px;
}
.voteContent .voteResult .outBar {
  width: 60%;
  height: 12px;
  margin: var(--space-2) 10px var(--space-2) 0;
}
.voteContent .voteResult .inBar {
  height: 100%;
}
.voteContent .voteResult li {
  font-size: var(--font-md);
  line-height: 28px;
  padding-bottom: 5px;
}
.voteContent .voteResult img {
  object-fit: contain;
}
.voteContent .voteResult li > div {
  width: 100%;
  word-wrap: break-word;
}
.voteContent .voteResult li > div,
.voteContent .voteResult li > img {
  margin-bottom: 5px;
}

.voteContent .updaterDialog_Main {
  clear: both;
}
