.Message-retry {
  &-wrapper {
    margin-left: var(--space-3);
  }
  &-btn {
    width: 17px;
    height: 17px;
    background-color: var(--color-error);
    border-radius: 50%;
    text-align: center;
    color: var(--color-white);
    line-height: 16px;
    cursor: pointer;
  }
}
