.newRecordLand {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: var(--space-5) 0 0;
  box-sizing: border-box;
  .backBtn {
    text-decoration: none;
    padding: 5px;
  }
  .mingoCreate {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-sm);
    color: var(--color-text-secondary);
    img {
      width: 18px;
      margin-right: 5px;
    }
  }
  .newRecordCon {
    height: 100%;
    background-color: var(--color-background-primary);
    border-radius: var(--radius-sm);
    box-sizing: border-box;
    overflow: hidden;
    .workSheetNewRecord > .scrollViewContainer {
      padding: var(--space-5) 0;
    }
    .newRecordTitle {
      margin: 0 var(--space-6);
    }
    .customFieldsCon {
      padding: 0 var(--space-6);
    }
  }
  .workSheetNewRecord {
    height: 100%;

    .footerBox {
      padding: 0 var(--space-6) var(--space-5);
      .Button--link {
        display: none;
      }
    }
  }
  .customFieldsCon {
    flex: 1;
  }
  .errorCon {
    background-color: var(--color-background-primary);
    border-radius: var(--radius-sm);
    text-align: center;
    color: var(--color-text-secondary);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerBox {
    text-align: right;
  }
  &:not(.isMingoCreate) {
    .customFieldsContainer {
      padding-bottom: 52px;
    }
  }
}
