.taskDetail {
  .isOnlyLookBox {
    margin-top: var(--space-5);
    padding-bottom: 7px;
    .isOnlyLook {
      color: var(--color-text-tertiary);
      cursor: pointer;
      .operationCheckbox {
        font-size: var(--font-xs);
        border-radius: var(--radius-xs);
        color: var(--color-white);
        margin-right: var(--space-2);
        border-width: 1px;
        border-style: solid;
        margin-top: 1px;
        display: inline-block;
        vertical-align: top;
      }
      &:not(.checked) {
        .operationCheckbox {
          border-color: var(--color-border-tertiary) !important;
          background: var(--color-background-primary) !important;
        }
      }
    }
  }
}
