.paySuccessDialog {
  .mui-dialog-body {
    padding: 0 60px 22px !important;

    .green {
      color: var(--color-success-text);
    }
  }
  .mui-dialog-footer {
    padding-bottom: 40px !important;
    .Dialog-footer-btns {
      text-align: center;
    }
  }
}
