.ChartFilterPanel {
  .filterWrapper {
    height: 32px;
    border: 1px dashed var(--color-text-disabled);
    padding: 0 var(--space-3);
    background-color: var(--color-background-primary);
    border-radius: var(--radius-sm);
    line-height: normal;
    cursor: pointer;
  }
}
