.AppCalendarDetail {
  #container > .borderContainer {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    .detail {
      margin: 20px 0;
      background: var(--color-background-primary);
      border-radius: 3px;
      box-sizing: border-box;
      box-shadow: var(--shadow-sm);
    }
  }
}
