.publishErrorDialog {
  .reasonList {
    margin-top: -2px;
  }
  .mui-dialog-body {
    padding-bottom: 13px !important;
  }
  li {
    padding: var(--space-1) 0;
  }
  .errorItem {
    .detail {
      color: var(--color-text-secondary);
      margin-left: var(--space-2);
      font-size: var(--font-md);
    }
    .warn {
      .icon {
        color: var(--color-warning);
      }
    }
    .icon {
      color: var(--color-error);
    }
  }
}
