/* 表格列表样式 */
.statTable {
  height: 100%;
  display: flex;
  flex-direction: column;
  .statTableBody {
    flex: 1;
    min-height: 0;
    width: 100%;
    overflow-x: hidden;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  th {
    font-size: var(--font-sm);
    text-align: left;
    // height: 48px;
    border-bottom: 1px solid var(--color-border-secondary);
    padding-left: 5px;
    padding-bottom: var(--space-3);
    color: var(--color-text-title);
  }

  td {
    padding: 5px;
    height: 48px;
    word-break: break-all;
    font-size: var(--font-sm);
  }
}
.statContent {
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .sortIcon {
    font-size: 10px;
    color: var(--color-text-tertiary);
  }
}
.statTableContent {
  flex: 1;
  min-height: 0;
}
.statHeader {
  padding-top: var(--space-4);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-secondary);
  margin-bottom: var(--space-6);
  .statHeaderItem {
    height: 32px;
    font-size: var(--font-md);
    border-bottom: 2px solid transparent;
    color: var(--color-text-tertiary);
    margin-right: var(--space-6);
    margin-top: 13px;
    cursor: pointer;
    &.active {
      border-bottom-color: var(--color-primary);
      color: var(--color-text-title);
    }
  }
  .selectDateInput {
    width: 200px;
    height: 32px;
    line-height: 30px;
    padding: 0 var(--space-3);
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-text-placeholder);
    box-sizing: border-box;
    cursor: pointer;
  }
}
