.selectWorksheetDialog {
  .formItem {
    margin-bottom: var(--space-5);
    .label {
      font-size: var(--font-sm);
      margin-bottom: 6px;
    }
    .content {
      .Dropdown.disabled {
        .Dropdown--border {
          border-color: var(--color-border-primary) !important;
          background-color: var(--color-background-secondary) !important;
        }
      }
    }
  }
}
