.ming.List {
  user-select: none;
  list-style-type: none;

  .List-header {
    padding: 5px var(--space-4);
    font-size: var(--font-xs);
    line-height: 20px;

    border-bottom: 1px solid var(--color-border-secondary);
  }

  .List-body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .List-footer {
    border-top: 1px solid var(--color-border-tertiary);
  }

  &--withIconFront .Item .Item-content {
    padding-left: var(--space-8);
  }

  &--withIconEnd .Item .Item-content.iconAtEnd {
    padding-right: var(--space-8);
  }

  & .Dividor {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid var(--color-border-secondary);
  }
}
