.ming.Textarea {
  border: 1px solid var(--color-border-tertiary);
  box-sizing: border-box;
  border-radius: var(--radius-sm);
  padding: var(--space-3);
  font-size: var(--font-md);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
  line-height: inherit;
  background: transparent;
  &:hover:not(:disabled),
  &:focus {
    border-color: var(--color-primary);
  }
}
